@font-face {
    font-family: "myfont";
    src: url("./myfont.woff") format("woff");
}

@mixin list-bottom-common {
    content: "   ";
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 2px;
    background: #ff8200;
}

@mixin list-bottom {
    &:nth-child(1):hover::after {
        left: 0;
        @include list-bottom-common;
    }
    &:nth-child(2):hover::after {
        left: 25%;
        @include list-bottom-common;
    }
    &:nth-child(3):hover::after {
        left: 50%;
        @include list-bottom-common;
    }
    &:nth-child(4):hover::after {
        left: 75%;
        @include list-bottom-common;
    }
}

body {
    overflow: hidden;
}
.main-wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .main {
        position: relative;
        top: 0px;
        left: 0px;
        transition: 600ms ease-in-out;
        .section {
            width: 100vw;
            height: 100vh;
        }
        .a {
            background: red;
            text-align: center;
            p {
                color: #fff;
                position: relative;
                top: 80%;
                margin: 0 auto;
                width: fit-content;
            }
        }
        .b {
            background: #fff;
            .img {
                width: 85vw;
                height: 45vh;
                margin: 0 auto;
                position: relative;
                top: 5%;
                color: #808080;
                display: flex;
                align-items: center;
                justify-content: center;
                border: dashed 1px #808080;
            }
            .problem {
                width: 85vw;
                margin: auto;
                position: relative;
                top: 10%;
                p {
                    margin: 5% 0;
                    color: #808080;
                }
                input {
                }
            }
        }
        .c {
            background: #f2f2f2;
            .headTop {
                width: 100%;
                height: 44px;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                color: #333;
                background: #fff;
                .name {
                    font-size: 1.125rem;
                    line-height: 29px;
                    padding-left: 10px;
                    &::after {
                        font-family: myfont;
                        content: "\2228";
                        color: #f07c01;
                    }
                }
                .icons {
                    font-size: 0;
                    text-align: center;
                    .compose {
                        width: 40px;
                        display: inline-block;
                        font-size: 28px;
                        &::after {
                            font-family: myfont;
                            content: "\0047";
                        }
                    }
                    .search {
                        width: 40px;
                        display: inline-block;
                        font-size: 28px;
                        &::after {
                            font-family: myfont;
                            content: "\0044";
                        }
                    }
                    .refresh {
                        width: 40px;
                        display: inline-block;
                        font-size: 28px;
                        &::after {
                            font-family: myfont;
                            content: "\21BB";
                        }
                    }
                }
            }
            .nav {
                width: 100%;
                text-align: center;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    background: #f5f5f5;
                    font-size: 0;
                    position: relative;
                    li {
                        display: inline-block;
                        font-size: 0.875rem;
                        width: 25%;
                        height: 40px;
                        line-height: 40px;
                        color: #5d5d5d;
                        font-weight: 700;
                        @include list-bottom;
                    }
                }
            }
            .contWrap {
                background: #fff;
                .header {
                    display: flex;
                    vertical-align: baseline;
                    position: relative;
                    .mediaWrap {
                        position: relative;
                        margin: 0.625rem 0 0.625rem 0.5rem;
                        img {
                            border-radius: 50%;
                            width: 2.215rem;
                            height: 2.215rem;
                        }
                        span {
                            right: -0.125rem;
                            bottom: -0.125rem;
                            background-position: 0 -1.25rem;
                            width: 0.875rem;
                            height: 0.875rem;
                            position: absolute;
                            background-image: url("https://h5.sinaimg.cn/weibocn/v6/img/lib/icons.a5c1305b.svg");
                            background-size: 6.875rem 10.3125rem;
                        }
                    }
                    .col-item-list {
                        padding: 0.6875rem 0.6875rem 0;
                        p {
                            margin: 0;
                            font-size: 0.9375rem;
                            color: #333;
                            font-weight: 400;
                            color: #f46200;
                            span {
                                background-image: url("https://h5.sinaimg.cn/marvel/v1.4.0/img/sprite.svg");
                                background-size: 3em auto;
                                width: 1em;
                                height: 1em;
                                background-position: -1em -46em;
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }
                        span {
                            font-size: 0.625rem;
                            color: #929292;
                        }
                    }
                    &::after {
                        font-family: myfont;
                        content: "\2228";
                        position: absolute;
                        top: 0.5rem;
                        right: 0.5rem;
                        color: #aaa;
                    }
                }
                .wordWrap {
                    padding: 0.3rem 0.75rem;
                    p {
                        margin: 0;
                        font-size: 1.0625rem;
                        color: #333;
                        line-height: 1.5;
                        span {
                            width: 1em;
                            height: 1em;
                            display: inline-block;
                            background-image: url("https://h5.sinaimg.cn/m/emoticon/icon/default/d_keai-9f81f72301.png");
                            background-size: cover;
                        }
                    }
                    .picWrap {
                        background: url("https://wx4.sinaimg.cn/large/006zpFxaly1frnd0x3vmbj30e80a03zd.jpg");
                        height: 213px;
                        width: 100%;
                        background-size: cover;
                        margin-top: 0.75rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .btn-media {
                            color: #fff;
                            background: rgba(0, 0, 0, 0.3);
                            border: 0 solid transparent;
                            border-radius: 50%;
                            width: 1.5em;
                            height: 1.5em;
                            font-size: 1.8rem;
                            position: relative;
                            &::before {
                                content: "  ";
                                position: absolute;
                                border: 0.3em solid transparent;
                                border-left: 0.519em solid #fff;
                                width: 0;
                                height: 0;
                                top: 50%;
                                left: 66.6%;
                                transform: translateX(-50%) translateY(-50%);
                            }
                        }
                    }
                }
                footer {
                    height: 2.125rem;
                    margin-top: 0.475rem;
                    border-top: 1px solid #e6e6e6;
                    display: flex;
                    align-items: center;
                    font-size: 0;
                    span {
                        width: 33.3%;
                        height: 100%;
                        text-align: center;
                        color: #939393;
                        font-size: 0.8125rem;
                        vertical-align: baseline;
                        line-height: 100%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .share {
                        &::before {
                            font-family: myfont;
                            content: "\8F6C";
                            font-size: 2rem;
                        }
                    }
                    .comment {
                        &::before {
                            font-family: myfont;
                            content: "\8BC4";
                            font-size: 2rem;
                        }
                    }
                    .like {
                        &::before {
                            font-family: myfont;
                            content: "\0050";
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        .d {
            background: green;
            text-align: center;
            span {
                position: relative;
                top: 85%;
            }
        }
    }
}
